// @tailwind base;
// @tailwind components;
// @tailwind utilities;

.slide-to-delete {
    height: 30px;
    background-color: #ddd;
    position: relative;
  }
  
  .delete-btn {
    position: absolute;
    left: -50px;
    top: 0;
    width: 50px;
    height: 30px;
    background-color: #f00;
    color: #fff;
    border: none;
    display: none;
  }
  
  .slide-to-delete:hover .delete-btn {
    display: block;
  }
